.options-container {
    width: 100px;
    height: 100vh;
    margin-bottom: 0;
    float: left;
    background-color: cornflowerblue;
}

.option {
    height: 90px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;
    color: black;
    border: none;
    padding: 0;
}

.image-option {
    border-radius: 50%;
    border: 3px solid black;
    height: 75px;
    width: 75px;
    overflow: hidden;
    display: flex;
    justify-content: center
}

.option:hover {
    background-color: lightgrey;
}

.option:focus {
    outline: none;
}